
.zen_ui__button_container {
  @include user-select(none);
  height: $zen_ui__button__height;
  padding: 0 1px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  &[data-stretch=only_x] {
    width: 100%;
  }
  &[data-stretch=only_y] {
    height: 100%;
  }
  &[data-stretch=true] {
    width: 100%;
    height: 100%;
  }
  &[data-stretch=only_x],
  &[data-stretch=true] {
    .zen_ui__button {
      width: 100%;
    }
  }
}
.zen_ui__button {
  height: 100%;
  display: block;
  position: relative;
  border: 1px solid;
  @include border-radius($zen_ui__button__border_radius);
  &:hover {
    cursor: pointer;
  }
}
.zen_ui__button {
  font-size: 0;
  .zen_ui__button_text {
    font-size: 1rem;
  }
}
.zen_ui__button .zen_ui__button_text {
  white-space: nowrap;
}

button.zen_ui__button {
  > .zen_ui__button_text {
    padding: 0 0.62rem;
  }
}
a.zen_ui__button,
label.zen_ui__button {
  > .zen_ui__button_text {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    > span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 0.62rem;
    }
  }
}

.zen_ui__button_container > .zen_ui__button + div {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: transparent;
}

.zen_ui__first_conjoined_button_container,
.zen_ui__conjoined_buttons .zen_ui__button_container:first-child {
  padding: 1px 0 1px 1px !important;
  .zen_ui__button {
    @include border-radius($zen_ui__button__border_radius 0 0 $zen_ui__button__border_radius);
    border-right: none;
  }
}

.zen_ui__conjoined_button_container,
.zen_ui__conjoined_buttons .zen_ui__button_container:not(:first-child):not(:last-child) {
  padding: 1px 0 1px 0 !important;
  .zen_ui__button {
    @include border-radius(0);
    border-right: none;
    border-left: none;
  }
}

.zen_ui__last_conjoined_button_container,
.zen_ui__conjoined_buttons .zen_ui__button_container:last-child {
  padding: 1px 1px 1px 0 !important;
  .zen_ui__button {
    @include border-radius(0 $zen_ui__button__border_radius $zen_ui__button__border_radius 0);
    border-left: none;
  }
}

.zen_ui__conjoined_buttons {
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  // "nowrap" prevents button jump to new line
}
