
.zen_ui__text,
.zen_ui__clipped_text,
.zen_ui__loading_mask,
.zen_ui__path_item,
p,
dt,
a,
dd,
li,
th,
td {
  font-size: 1rem;
}
h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 2.6rem;
}
